aiosqlite==0.22.1 ; python_version == "3.14"
alembic==1.20.0 ; python_version == "3.14"
annotated-doc==0.0.5 ; python_version == "3.14"
annotated-types==0.8.0 ; python_version == "3.14"
anyio==4.15.1 ; python_version == "3.14"
ast-serialize==0.11.2 ; python_version == "3.14"
bcrypt==5.0.0 ; python_version == "3.14"
certifi==2026.7.22 ; python_version == "3.14"
click==8.5.0 ; python_version == "3.14"
colorama==0.4.6 ; python_version == "3.14" and sys_platform == "win32"
coverage==7.16.2 ; python_version == "3.14"
fastapi==0.141.1 ; python_version == "3.14"
greenlet==3.5.6 ; python_version == "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.16.0 ; python_version == "3.14"
httpcore==1.0.9 ; python_version == "3.14"
httpx==0.28.1 ; python_version == "3.14"
idna==3.20 ; python_version == "3.14"
iniconfig==2.3.1 ; python_version == "3.14"
jinja2==3.1.6 ; python_version == "3.14"
librt==0.16.0 ; python_version == "3.14" and platform_python_implementation != "PyPy"
mako==1.4.1 ; python_version == "3.14"
markupsafe==3.0.3 ; python_version == "3.14"
mypy-extensions==1.1.0 ; python_version == "3.14"
mypy==2.4.0 ; python_version == "3.14"
packaging==26.3 ; python_version == "3.14"
pathspec==1.1.1 ; python_version == "3.14"
pluggy==1.6.0 ; python_version == "3.14"
pydantic-core==2.46.5 ; python_version == "3.14"
pydantic-settings==2.15.0 ; python_version == "3.14"
pydantic==2.13.5 ; python_version == "3.14"
pygments==2.21.0 ; python_version == "3.14"
pyjwt==2.15.0 ; python_version == "3.14"
pytest-asyncio==1.4.0 ; python_version == "3.14"
pytest-cov==7.1.0 ; python_version == "3.14"
pytest-html==4.2.0 ; python_version == "3.14"
pytest-metadata==3.1.1 ; python_version == "3.14"
pytest==9.1.1 ; python_version == "3.14"
python-dotenv==1.2.3 ; python_version == "3.14"
ruff==0.16.10 ; python_version == "3.14"
sqlalchemy==2.0.54 ; python_version == "3.14"
starlette==1.6.0 ; python_version == "3.14"
typing-extensions==4.16.0 ; python_version == "3.14"
typing-inspection==0.4.4 ; python_version == "3.14"
uvicorn==0.53.0 ; python_version == "3.14"
